# Backend config
BACKEND_CID = hive-backend
BACKEND_PORT = 8080

# Database config
POSTGRES_CID = hive-db
POSTGRES_PORT = 5432
POSTGRES_DB = postgres
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres

# Frontend config
FRONTEND_CID = hive-frontend
FRONTEND_PORT = 4200
